<!doctype html >
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>750 Base</title>
<link rel="stylesheet" href="css/style750.css" type="text/css">

<script type="text/javascript" src="js/start.js"></script>
<style type="text/css">
</style>

  
  </head>
<body >
<div id="main">
<div id="cap">
	<div id="langs"><a href="#">EE</a> &nbsp;&nbsp;<a href="#">RU</a> &nbsp;&nbsp;<a href="#">EN</a> &nbsp;&nbsp;</div>cap</div>
<div id="hero">
	<div id="heroProp">
    <img src="../img/heroes/ez.png" id="heroImg" alt="avatar" >
    Current Hero's properties ... 
    
    </div>
	<div id="heroAllTop">
		<div class="heroAllDet"><a href="allHeroes.php">All heroes</a></div>
		<div class="heroAllDet"><a href="createHero.php">Create hero</a></div>
        <div class="bu">
        </div>
	
	</div>

</div>