<div id="field"> 
 
 			<div id="heroAll">
                	
                	  <div>All heroes</div>
                	    <div>
                              <DIV CLASS="oneHeroImg"><img src="../img/heroes/ez.png" class="heroImg"  alt="avatar" ></DIV>
                              <DIV CLASS="oneHeroName"><a href="#">Peeter</a></DIV>
                              <DIV CLASS="oneHeroDel"><img src="../img/del.png"   alt="delButton" ></DIV>
                              
                              <DIV CLASS="oneHeroImg"><img src="../img/heroes/ez2.png" class="heroImg"  alt="avatar" ></DIV>
                              <DIV CLASS="oneHeroName"><a href="#">Vasja</a></DIV>
                              <DIV CLASS="oneHeroDel"><img src="../img/del.png"   alt="delButton" ></DIV>
                              
                              <DIV CLASS="oneHeroImg">..</DIV>
                              <DIV CLASS="oneHeroName"><a href="#">John</a></DIV>
                              <DIV CLASS="oneHeroDel">..</DIV>
                    	</div>
             		
                    <div id="heroAllBot"><a href="createHero.php">Create hero</a></div>
                    
                    <!---->
                </div>
 
</div>

</div>
</body>
</html>
