<div id="field">

	<div id="register">
        <form action="#" method="post" id="regForm">         
          <p>Nickname</p>
           <p><input type="text" name="nickname" id="nickname"></p>
          <p>E-mail </p>
          <p><input type="text" name="email" id="email"></p>
          <p>Password</p>
          <p><input type="password" name="pass1" id="pass1"></p>
          <p>Repeat Password </p>
           <p><input type="password" name="pass2" id="pass2"></p>          
          <p><input type="submit" value="   OK   " style="height:25px"></p>
        </form>
	</div>
</div>

</div>
</body>
</html>