<div id="field"> 

	<div id="register">
        <form action="#" method="post">
         
          <p>Nickname</p>
          <p><input type="text" name="nickname" id="nickname"></p>
          <p>E-mail </p>
          <p><input type="text" name="email" id="email"></p>
          <p>Password</p>
          <p><input type="password" name="pass1" id="pass1"></p>
          <p>Repeat Password </p>
          <p><input type="password" name="pass2" id="pass2"></p>
          
          <p><input type="submit" value="   OK   "></p>
        </form>
	</div>
</div>